.footy{
	width: 100%;
	background-color: #19CFD5;
	display: flex;
	flex-direction: column;
}
.footerimg{
	margin: 20px auto;
}
.footerimg img{
	width: 130px;
	height: auto;
}
.footertext{
	color: #fff;
	margin: 0 auto;
	font-size: 1em;
}