
 
<div class="col-md-7 wha">

<form class="form-inline">
        <input name="searchInput" class="form-control" placeholder="Search" #searchInput="ngModel" [(ngModel)]="searchText" style="width: 80%;">
        <button class="btn btn-outline-primary" (click)="searchText=''"><i class="fas fa-search"></i></button>
</form>
  </div>   

    

<table class="table table-bordered f">
        <thead>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Category</th>
                <th>Action</th>
        </thead>
      
        <ng-container *ngFor="let contact of contactArray">
          
                <tr class="table table-striped"  *ngIf="filterCondition(contact)">
                        <td>{{contact.firstName}}</td>
                        <td>{{contact.lastName}}</td>
                        <td>{{contact.email}}</td>
                        <td>{{contact.phoneNum}}</td>
                        <td [ngStyle]="{color:categoryCondition(contact)}">{{contact.category}}</td>
                        <td>
                                <button class="btn btn-info"><i class="fas fa-edit" (click)="contactService.populateForm(contact)"></i></button>
                                <button class="btn btn-danger"><i class="fas fa-ban" (click)="onDelete(contact.$key)"></i></button>
                        </td>
                </tr>
        
             
        </ng-container>
         
</table>
<div class="alert alert-danger" *ngIf="showDeletedMessage">Deleted successfully</div>  


